<br><br><br><br>
<div class="container-sm">
    <h3>Your Additional Tips From Expert</h3>
    {{#each tips}}
    <div class="card p-3 mb-3">
        <h4>Tip :</h4>
        {{this.tips}}
    </div>
    {{/each}}

</div>